<launch>
    <node pkg="organ_slam" name="image_publisher" type="image_publisher.py" output="screen">
    </node>

    <node pkg="organ_slam" name="temporal_filter" type="temporal_filter.py" output="screen">
    </node>

    <node pkg="organ_slam" name="point_cloud_generator" type="point_cloud_generator.py" output="screen">
    </node>

    <node pkg="organ_slam" name="visual_odometry" type="visual_odometry.py" output="screen">
    </node>

    <node pkg="organ_slam" name="disparity_generator" type="disparity_generator.py" output="screen">
    </node>

<!--    <node pkg="organ_slam" name="point_fusion" type="point_fusion.py" output="screen">-->
<!--    </node>-->

<!--    <node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer" output="screen">\-->
<!--        <param name="max_features" value="10" />-->
<!--        <param name="motion_threshold" value="350" />-->
<!--    </node>-->
</launch>
